body {
	height: 100vh;
	margin: 0px;
    
}

/* Header */
			.topnav {
				overflow: hidden;
				background-color: white; /* Background color of list talk ref and search */
			}
			.topnav a {
				float: right;
				display: block;
				color: #1B1212; /* Talk */
				text-align: center;
				padding: 20px;
				text-decoration: none;
			}
			.topnav a:hover {
				background-color: #1B1212; /* List Hovering */
				color: white;
			}



div.topnav {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.float-img{
			float: right; 
			margin-right: 150px; 		
			margin-bottom: 5px;
			border: solid black 0px; 
			padding: 1px;		
			}
			
			.team-img {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* This will create a circle */
    object-fit: cover; /* Ensures the image covers the entire area */
}

table {
            width: 90%;
            border-collapse: collapse; /* Remove space between cells */
			margin-left: 80px;
        }
        th, td {
            padding: 5px; /* Add some padding */
            text-align: center; /* Align text to the left */
            border: 0px solid #ddd; /* Add border to cells */
			font-size: 20px;
			
        }



@media (min-width: 768px) {
    .team-img {
        width: 200px; /* Set the width of the image */
        height: 200px; /* Set the height of the image */
        border-radius: 50%; /* This will create a circle */
        object-fit: cover; /* Ensures the image covers the entire area */
    }
}
