@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    background-color: #eee;
    padding-top: 100px;
}

/* Navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #f17720;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .navbar {
    display: flex;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
    text-decoration: none;
}

.header .navbar a:hover {
    color: var(--orange);
}

/* Toggle Buttons */
.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.header .icons div:hover {
    background: var(--orange);
    color: #fff;
}

#menu-btn {
    display: none;
}

/* Dropdown Panels */
.search-form,
.shopping-cart,
.login-form,
.navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    background: white;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    transition: .4s linear;
}

.search-form.active,
.shopping-cart.active,
.login-form.active,
.navbar.active {
    right: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        flex-direction: column;
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        background: white;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        text-align: center;
    }

    .header .navbar.active {
        right: 2rem;
    }

    .header .navbar a {
        display: block;
        margin: 1rem 0;
    }
}
